<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New password</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

</head>
<body class="min-h-screen bg-cover bg-center flex items-center justify-center" style="background-image: url('/images/pexels-akos-szabo-145938-440731.jpg'); font-family: 'Open Sans', sans-serif;">
  <div class="bg-white p-10 shodow-lg w-full max-w-md">
    <h2 class="text-xl font-semibold text-gray-600 mb-6" style="font-family: 'Michroma',sans-serif;">Camverse</h2>
    <h1 class="text-3xl font-medium mb-6" style="font-family: 'Kanit',sans-serif;">Enter new password</h1>

    <form action="/reset/new-password?_method=PATCH" method="POST" class="space-y-4">


      <div class="relative">
        <label for="name" class="block text-sm font-medium text-gray-700">Password</label>
        <input 
          type="password"
          name="newPassword"
          id="password"
          pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,23}$"
          class="w-full px-3 py-2 font-extralight border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400 requiredFields"/>
          <span class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-400 cursor-pointer toggle-password">
            <i class="fa-solid fa-eye-slash"></i>
          </span>
          <p id="passwordError" class="text-xs font-extralight text-gray-400 mt-1">Mix of numbers and characters, 8-23 characters</p>
      </div>

      <div>
        <label for="name" class="block text-sm font-medium text-gray-600">Confirm Password</label>  
        <div class="relative">
          <input 
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,23}$"
            class="w-full px-3 py-2 font-extralight border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400 requiredFields"/>
      
          <span class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-400 cursor-pointer toggle-password">
            <i class="fa-solid fa-eye-slash"></i>
          </span>
        </div>
      
        <div id="confirmPasswordError" class="flex items-center gap-1 mt-1 hidden">
          <i id="confirmPasswordIcon" class="fa-solid fa-circle-exclamation text-red-500"></i>
          <p id="confirmPasswordMessage" class="text-xs font-extralight text-red-500">Passwords match</p>
        </div>
      </div>

      <button type="submit" id="submitBtn" disabled class="w-full bg-gray-100 text-gray-300 px-4 py-2 mt-8 cursor-not-allowed transition-colors">
        SUBMIT
      </button>
      
    </form>

  </div>

  <script src="/js/user/new-password.js"></script> 
</body>
</html>