<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body class="min-h-screen bg-cover bg-center flex items-center justify-center" style="background-image: url('/images/88045_85925\ 1.png');">
    <div class="bg-white p-10 shodow-lg w-full max-w-md">
        <h2 class="text-xl font-semibold text-gray-600 mb-6" style="font-family: 'michroma';">Camverse</h2>
        <h1 class="text-2xl font-medium mb-6" style="font-family: 'Kanit',sans-serif;">Enter your Email</h1>

        <% if (errorMessage) { %>
          <p class="text-red-500 text-sm font-medium mb-4"><%= errorMessage %></p>
        <% } %>

        <form action="/reset" method="POST" class="space-y-4">            
              <div>
                <label for="name" class="block text-sm font-medium text-gray-700">Email</label>
                <input 
                    type="email"
                    name="email"
                    id="email"
                    class="w-full px-2 py-2 font-extralight border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400 requiredFields"/>
                    <p id="emailError" class="text-xs font-extralight text-red-500 mt-1 <%= messages.error ? '' : 'hidden' %>">
                        <%= messages.error || 'Please enter a valid email address' %>
                    </p>
              </div>



             <button type="submit" id="submitBtn" disabled class="w-full bg-gray-100 text-gray-300 px-4 py-2 mt-8 cursor-not-allowed transition-colors">
                SUBMIT
              </button>  
              
        </form>
    </div>
</body>

<script src="/js/user/resetPasswordMail.js"></script>

</html>
