<aside id="sidebar" 
class="z-40 w-56 h-[calc(100vh-64px)] overflow-y-auto bg-gray-900 shadow-lg fixed top-[64px] left-0  flex flex-col justify-between px-4 py-6 hidden md:block">
    
    <div class="space-y-4 py-4 font-medium text-sm md:text-base">

        <a href="/admin/dashboard" class="flex items-center text-white hover:bg-gray-700 hover:text-gray-200 px-3 py-2 rounded-md space-x-2">
            <i class="fa-solid fa-gauge pr-3"></i>
            Dashboard
        </a>
        <a href="/admin/products" class="flex items-center text-white hover:bg-gray-700 hover:text-gray-200 px-3 py-2 rounded-md space-x-2">
            <i class="fa-solid fa-warehouse pr-3"></i>
            Products
        </a>
        <a href="/admin/users" class="flex items-center text-white hover:bg-gray-700 hover:text-gray-200 px-3 py-2 rounded-md space-x-2">
            <i class="fa-solid fa-users pr-3"></i>
            Users
        </a>
        <a href="/admin/orders" class="flex items-center text-white hover:bg-gray-700 hover:text-gray-200 px-3 py-2 rounded-md space-x-2">
            <i class="fa-solid fa-box-open pr-3"></i>
            Orders
        </a>
        <a href="/admin/categories" class="flex items-center text-white hover:bg-gray-700 hover:text-gray-200 px-3 py-2 rounded-md space-x-2">
            <i class="fa-solid fa-table pr-3"></i>
            Categories
        </a>
        <a href="/admin/brands" class="flex items-center text-white hover:bg-gray-700 hover:text-gray-200 px-3 py-2 rounded-md space-x-2">
            <i class="fa-solid fa-tag pr-3"></i>
            Brands
        </a>
        <a href="/admin/offers" class="flex items-center text-white hover:bg-gray-700 hover:text-gray-200 px-3 py-2 rounded-md space-x-2">
            <i class="fa-solid fa-percent pr-3"></i>
            Offers
        </a>
        <a href="/admin/settings" class="flex items-center text-white hover:bg-gray-700 hover:text-gray-200 px-3 py-2 rounded-md space-x-2">
            <i class="fa-solid fa-gear pr-3"></i>
            Settings
        </a>
        <a href="/admin/banner" class="flex items-center text-white hover:bg-gray-700 hover:text-gray-200 px-3 py-2 rounded-md space-x-2">
            <i class="fa-solid fa-image pr-3"></i>
            Banners
        </a>
        <a href="/admin/coupons" class="flex items-center text-white hover:bg-gray-700 hover:text-gray-200 px-3 py-2 rounded-md space-x-2">
            <i class="fa-solid fa-ticket pr-3"></i>
            Coupons
        </a>
    </div>

    <a href="/admin/logout" class="flex items-center text-red-600 font-semibold hover:bg-gray-100 px-3 py-2 rounded-md">
        <i class="fa-solid fa-arrow-right-from-bracket pr-3"></i>
        Logout
    </a>
    


</aside>